[Desktop Entry]
Type=Service
# ServiceTypes=KonqPopupMenu/Plugin
MimeType=image/jpeg
Actions=convert-jpg-to-jxl-lossless;convert-jpg-to-jxl-lossy
X-KDE-Priority=TopLevel
X-KDE-StartupNotify=false
X-KDE-Submenu=Actions
X-KDE-Submenu[ru]=Действия
Icon=image

[Desktop Action convert-jpg-to-jxl-lossless]
Name=[cjxl] Convert JPG to JXL (lossless)
Name[ru]=[cjxl] Конвертировать JPG в JXL (без потерь)
Icon=image
Exec=cjxl -e 8 --lossless_jpeg=1 %u %u.jxl; touch -r %u %u.jxl

[Desktop Action convert-jpg-to-jxl-lossy]
Name=[cjxl] Convert JPG to JXL (lossy q70)
Name[ru]=[cjxl] Конвертировать JPG в JXL (q70)
Icon=image
Exec=cjxl -e 7 -q 70 --lossless_jpeg=0 %u %u.jxl; touch -r %u %u.jxl
