[Desktop Entry]
Type=Service
# ServiceTypes=KonqPopupMenu/Plugin
MimeType=video/*
Actions=make-thumbnails
# X-KDE-Submenu=Convert
X-KDE-Priority=TopLevel
X-KDE-StartupNotify=false
X-KDE-Submenu=Actions
X-KDE-Submenu[ru]=Действия
Icon=video

[Desktop Action make-thumbnails]
Name=Make thumbnails
Name[ru]=Создать миниатюры
Icon=image
Exec=~/.local/bin/mt %U
