[Desktop Entry]
Type=Service
# ServiceTypes=KonqPopupMenu/Plugin
MimeType=application/pdf;application/vnd.oasis.opendocument.chart;application/vnd.oasis.opendocument.formula;application/vnd.oasis.opendocument.graphics;application/vnd.oasis.opendocument.image;application/vnd.oasis.opendocument.presentation;application/vnd.oasis.opendocument.spreadsheet;application/vnd.oasis.opendocument.text;application/vnd.openxmlformats-officedocument.presentationml.presentation;application/vnd.openxmlformats-officedocument.spreadsheetml.sheet;application/vnd.openxmlformats-officedocument.wordprocessingml.document;application/x-bittorrent;application/zip;audio/flac;audio/mpeg;audio/ogg;audio/x-flac;image/jpeg;image/png;image/tiff;image/x-ms-bmp;text/plain;video/mp4;video/x-msvideo;
Actions=Remove-metadata;Remove-metadata-wo-backup
# X-KDE-Submenu=Convert

[Desktop Action Remove-metadata]
Name=Remove metadata
Name[ru]=Удалить метаданные
Name[de]=Metadaten löschen
Name[es]=Limpiar metadatos
Name[eo]=Forigi metadatumojn
Icon=/usr/share/icons/hicolor/scalable/apps/mat2.svg
Exec=kdialog --yesno  "$( mat2 -s %F )" --title "Clean Metadata?" && mat2 %U
Exec[ru]=kdialog --yesno  "$( mat2 -s %F )" --title "Удалить метаданные?" && mat2 %U
Exec[de]=kdialog --yesno  "$( mat2 -s %F )" --title "Metadaten löschen?" && mat2 %U
Exec[es]=kdialog --yesno  "$( mat2 -s %F )" --title "Limpiar metadatos?" && mat2 %U
Exec[eo]=kdialog --yesno  "$( mat2 -s %F )" --title "Forigi metadatumojn?" && mat2 %U

[Desktop Action Remove-metadata-wo-backup]
Name=Remove metadata (without backup)
Name[ru]=Удалить метаданные (без бэкапа)
Name[de]=Metadaten löschen (ohne Backup)
Name[es]=Limpiar metadatos (sin copia de seguridad)
Name[eo]=Forigi metadatumojn (sen sekurkopio)
Icon=/usr/share/icons/hicolor/scalable/apps/mat2.svg
Exec=kdialog --yesno  "$( mat2 -s %F )" --title "Clean Metadata?" && mat2 %U --inplace
Exec[ru]=kdialog --yesno  "$( mat2 -s %F )" --title "Удалить метаданные?" && mat2 %U --inplace
Exec[de]=kdialog --yesno  "$( mat2 -s %F )" --title "Metadaten löschen?" && mat2 %U --inplace
Exec[es]=kdialog --yesno  "$( mat2 -s %F )" --title "Limpiar metadatos?" && mat2 %U --inplace
Exec[eo]=kdialog --yesno  "$( mat2 -s %F )" --title "Forigi metadatumojn?" && mat2 %U --inplace