[Desktop Entry]
Type=Service
# ServiceTypes=KonqPopupMenu/Plugin
MimeType=video/mp4;
Icon=video-mkv
Actions=mkv
X-KDE-Priority=TopLevel
X-KDE-StartupNotify=false
X-KDE-Submenu=Actions
X-KDE-Submenu[ru]=Действия

[Desktop Action mkv]
Name=Convert to *.mkv
Name[ru]=Конвертировать в *.mkv
Icon=video-mkv
TryExec=ffmpeg
Exec=ffmpeg -i %u -codec copy -c:a copy -map_metadata 0 -movflags +faststart -strict -2 %u.mkv; touch -r %u %u.mkv
