[Desktop Entry]
Type=Service
# ServiceTypes=KonqPopupMenu/Plugin
MimeType=video/mp4;
Icon=video-mkv
Actions=mkv
X-KDE-Priority=TopLevel
X-KDE-StartupNotify=false
X-KDE-Submenu=Actions
X-KDE-Submenu[de]=Aktionen

[Desktop Action mkv]
Name=Convert to *.mkv
Name[de]=Konvertiere zu *.mkv
Name[hr]=Pretvoriti u *.mkv
Name[ru]=Конвертировать в *.mkv
Icon=video-mkv
TryExec=ffmpeg
Exec=file=%f; ffmpeg -i %f -codec copy -c:a copy -map_metadata 0 -movflags +faststart use_metadata_tags -strict -2 "${file%.*}.mkv"
